name: Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ github.workspace }}/back
        
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: "temurin"
          cache: "maven"

      - name: Install dependencies
        run: mvn clean install

      - name: Execute tests
        run: mvn clean test

      - name: Creation of the code coverage
        run: mvn jacoco:report

      - name: Generate code coverage report
        uses: actions/upload-artifact@v4
        with:
          name: Jacoco code coverage
          path: ./back/target/site/jacoco/

  frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ github.workspace }}/front

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Run Angular build
        run: npm run build --if-present
      
      - name: Run Angulal tests
        run: npm test -- --browsers=ChromeHeadless --watch=false --code-coverage

      
      - name: Generate code coverage report
        uses: actions/upload-artifact@v4
        with:
          name: Test code coverage
          path: ./front/coverage
